block footer
  footer.row(class=typeof bottom_footer == true ? "bottom" : "")
    p.legal.column Paid for by Isaac Rosenberg for Supervisor 2018. FPPC #1405578. Financial disclosures are available at sfethics.org
