doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet" type='text/css')
    link(rel='stylesheet' href='/stylesheets/skeleton.css')
    link(rel='stylesheet' href='/stylesheets/donate.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(type='text/javascript' src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js')
    script(type='text/javascript' src="/javascripts/donate.js")
    script(type='text/javascript' src="/javascripts/layout.js")
  body
    .cover
      block content
