block contribution_rules
  div.row
    h3 Contribution Rules
    ul.points.column
      li I am at least 18 years of age
      li I am a United States citizen or have permanent status in the U.S.
      li This contribution is made from my own funds, and not those of another.
      li This contribution is made on a personal credit card or debit card for which I have the legal obligation to pay, and is not made either on a corporate or business entity card or on the card of another person.
      li I am not a principal or owner of an entity that has received a contract in the last six months, or is currently engaged in negotiations for a contract that is subject to approval by the Board of Supervisors, or is a party thereof. 
      li This contribution is NOT tax deductible. 
  div.row
    input.agreement-checkbox.one.column(type='checkbox' data-parsley-required=true name='agreement')
    label.agreement-label.ten.columns I confirm that the following statements are true and accurate.