block form
  form.donate-form(method='POST', action='/donate' id='payment-form')
    include section_tabs
    #fieldsets.u-full-width
      include amounts
      include info
      include payment
      fieldset.buttons.row
        a(class="btn column" id="next" href='#')= "Continue"
        input(type="submit" class="btn column u-full-width" value="Contribute") 